<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>709210736077-oa4s8ou6tof1s8ak2kprvuultlpp2e7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709210736077-oa4s8ou6tof1s8ak2kprvuultlpp2e7v</string>
	<key>API_KEY</key>
	<string>AIzaSyC1XuH2B4Kj7rmVthZ99OtUKcwbQnV5D20</string>
	<key>GCM_SENDER_ID</key>
	<string>709210736077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.ac.serc</string>
	<key>PROJECT_ID</key>
	<string>skys-mobile-game</string>
	<key>STORAGE_BUCKET</key>
	<string>skys-mobile-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709210736077:ios:722ff34958de0c67</string>
	<key>DATABASE_URL</key>
	<string>https://skys-mobile-game.firebaseio.com</string>
</dict>
</plist>